.section-title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1rem;
}

.section-title span {
  color: var(--primary);
  font-weight: 600;
  display: block;
  //margin-bottom: 0.5rem;
}

.section-title h2 {
  font-size: 2rem;
  line-height: 1.2;
}

.section-title p {
  margin-top: 1rem;
  color: var(--muted);
}
