.hero {
  padding: 5rem 0;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

.hero-content span {
  color: var(--primary);
  font-weight: 600;
}

.hero h2 {
  font-size: 2.7rem;
  margin: 1rem 0;
}

.hero p {
  color: var(--muted);
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 0.9rem 1.4rem;
  background: var(--primary);
  color: white;
  border-radius: var(--radius);
  margin: 0.5rem;
}

.secondary {
  background: transparent;
  border: 1px solid var(--primary);
}

.hero-code {
  font-size: 7rem;
  font-family: var(--font-heading);
  color: var(--primary);
  opacity: 0.25;
}

@media (min-width: 768px) {
  .hero h2 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .hero-inner {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .hero-content {
    max-width: 700px;
  }

  .hero-code {
    font-size: 12rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 8rem 0;
  }

  .hero h2 {
    font-size: 4.5rem;
  }

  .hero-code {
    font-size: 15rem;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    font-size: 5.5rem;
  }

  .hero-code {
    font-size: 18rem;
  }
}
